.red-square {
  background-color: red;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 50px;
}


.green-circle{
  background-color: green;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: inline-block;
  vertical-align: top;
}

.feedback-card {
  border: 1px solid rgb(150, 150, 150);
  width: 300px;
  padding-left: 15px;
  padding-bottom: 20px;
  display: block;
  margin-bottom: 50px;
}

.feedback-card p {
  font-family: Arial, Helvetica, sans-serif;
}

.yt-card {
  background-color: rgb(33, 33, 33);
  width: 360px;
  border: none;
  padding: 20px 15px;
  margin-bottom: 50px;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}

.subtitle {
  color: rgb(160, 160, 160);
  font-family: Arial, Helvetica, sans-serif;
}

.cat-avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  vertical-align: middle;
  margin-right: 5px;
}

.tweet {
  border: none;
  font-size: 18px;
  width: 300px;
  vertical-align:middle;
}

.tweeter-btn {
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: bold;
  vertical-align: middle;
}

.tweeter-card {
  box-shadow: 0 0 6px rgb(0, 0, 0 , 0.3);
  padding:12px 12px;
  width: 450px;
  border-radius: 6px;
  margin-bottom: 300px;
}

.google-clone {
  text-align: center;
}

.logo {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.google-search {
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  width: 500px;
  border-radius: 30px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.google-btn, .search-btn {
  background-color: rgb(245, 245, 245);
  border: none;
  font-size: 15px;
  padding: 12px 20px;
  margin: 0 5px;
}