
.grid-two-col {
  display: grid;
  grid-template-columns: 200px 75px;
}

.blue-column {
  background-color: lightblue;
}

.pink-column {
  background-color: lightpink;
}

.grid-three-col {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 50px 1fr 75px;
}

.col-one{
  background-color: lightblue;
}

.col-two{
  background-color: lightpink;
}

.col-three{
  background-color: lightblue;
}

.grid-four-col {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap:20px;
  row-gap: 10px;
  margin-bottom: 100px;
}

.pink {
  background-color: lightpink;
}


p {
  font-family:Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 20px;
}

.profile{
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  vertical-align: top;
  margin-right: 15px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 12px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 8px;
}

.mutual-friends-row {
  margin-left: 8px;
  margin-bottom: 10px;
  display: inline-block;
}

.mutual-friends {
  color: rgb(100, 100, 100);
  margin-left: 0;
  margin-bottom: 0;
  display: inline-block;
}

.mutual-friend-picture {
  height: 28px;
  width: 28px;
  object-fit: cover;
  border-radius: 14px;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
}

.add-friend-btn  {
  background-color: rgb(24, 119, 242);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  margin-left: 8px;
  margin-bottom: 10px;
  margin-top: 5px;
}