p{
  margin-top: 0;
  margin-bottom: 0;
}
.font{
  font-family: Tahoma, sans-serif;
  font-size: 24px;
  font-weight: bold; 
  margin-bottom: 50px;
}

.title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 4px;
}

.sales{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: red;
  font-style: italic;
  margin-bottom: 50px;
}

.course-title{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3px;
}

.subtitle{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 15px;
}

.description{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  width: 250px;
  margin-bottom: 15px;
  line-height:22px;
}

.start-btn{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: green;
  color: white;
  text-align: center;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 0;
  margin-bottom: 50px;
}

.shopping-title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 18px;
  text-align: center;
}

.apple-info{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 18px;
}

.apple-link{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(21, 123, 163);
  text-align: center;
  margin-bottom: 50px;
}

.new {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: red;
  text-align: center;
  margin-bottom: 15px;
}

.laptop-brand {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.laptop-description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.price {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(96, 96, 96);
  text-align: center;
  margin-bottom: 15px;
}

.buy-btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: rgb(25, 118, 210);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  margin-left: 48%;
  margin-bottom: 50px;
}

.tweet-header{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.tweet-author{
  color: rgb(96, 96, 96);
}

.tweet-info{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 480px;
  margin-bottom: 15px;
}

.tweet {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;

}

.tweet-handle {
  color:  rgb(29, 155, 240);
}

.dollar-price{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-bottom: 3px;
}

.currency{
  color: rgb(96, 96, 96);
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 3px;
}

.change{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: green;
    margin-bottom: 3px;
}

.after-hours{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(96, 96, 96);
  font-size: 14px;
}

.after-hours-change {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: red;
}